---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1011985/watch/providers?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 50e98f0e696d81b989885f57a252d149
      X-Memc-Age:
      - '8988'
      X-Memc-Expires:
      - '17985'
      Etag:
      - W/"fe1de52082965635b4e651f5afa831eb"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1011985,"results":{"CA":{"link":"https://www.themoviedb.org/movie/1011985-kung-fu-panda-4/watch?locale=CA","buy":[{"logo_path":"/d1mUAhpJpxy0YMjwVOZ4lxAAbeT.jpg","provider_id":140,"provider_name":"Cineplex","display_priority":15}]}}}'
  recorded_at: Fri, 22 Mar 2024 16:15:17 GMT
recorded_with: VCR 6.2.0
