---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/keyword?api_key=<API_KEY>&query=kung
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0c66ce1ed760f70b49de6ec0b6a7e2ea
      X-Memc-Age:
      - '4267'
      X-Memc-Expires:
      - '20689'
      Etag:
      - W/"f8a14cc75a676e5f8aa78318e64a5a5e"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"id":284723,"name":"kung fu okulu"},{"id":780,"name":"kung
        fu"},{"id":14934,"name":"shaolin kung fu"},{"id":250944,"name":"kung foo"},{"id":185466,"name":"kung
        fu master"},{"id":301323,"name":"animal kung fu"}],"total_pages":1,"total_results":6}'
  recorded_at: Wed, 20 Mar 2024 22:50:02 GMT
recorded_with: VCR 6.2.0
