---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<API_KEY>&query=//
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - MISS, STORE
      X-Memc-Key:
      - 212284f7b7d069c325391f76f3615bde
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '28711'
      Etag:
      - W/"8152cb1998360217931b430f53ce09bf"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":null,"genre_ids":[],"id":615488,"original_language":"en","original_title":"//","overview":"Directed
        by Anne Vieux","popularity":0.6,"poster_path":null,"release_date":"2019-07-14","title":"//","video":false,"vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":1}'
  recorded_at: Fri, 22 Mar 2024 16:09:28 GMT
recorded_with: VCR 6.2.0
