---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1011985/credits?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - b3147b0726850ca2ec1b82ed1771a114
      X-Memc-Age:
      - '1861'
      X-Memc-Expires:
      - '20577'
      Etag:
      - W/"07b4cece4e7d10871d877075f72b406a"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1011985,"cast":[{"adult":false,"gender":2,"id":70851,"known_for_department":"Acting","name":"Jack
        Black","original_name":"Jack Black","popularity":82.737,"profile_path":"/rtCx0fiYxJVhzXXdwZE2XRTfIKE.jpg","cast_id":1,"character":"Po
        (voice)","credit_id":"62fae24c303c85008229904c","order":0},{"adult":false,"gender":1,"id":1625558,"known_for_department":"Acting","name":"Awkwafina","original_name":"Awkwafina","popularity":70.578,"profile_path":"/l5AKkg3H1QhMuXmTTmq1EyjyiRb.jpg","cast_id":8,"character":"Zhen
        (voice)","credit_id":"64c11f44ede1b000af4c3e14","order":1},{"adult":false,"gender":2,"id":17419,"known_for_department":"Acting","name":"Bryan
        Cranston","original_name":"Bryan Cranston","popularity":69.575,"profile_path":"/kNyTXGkiSP8W4Gs60hF7UoxZnWN.jpg","cast_id[...]
