---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1011985?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - ccf05165fa7a39f820d96a98dd1845c8
      X-Memc-Age:
      - '20364'
      X-Memc-Expires:
      - '7583'
      Etag:
      - W/"f980d73396bb1bcee841200d8f764ded"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/1XDDXPXGiI8id7MrUxK36ke7gkX.jpg","belongs_to_collection":{"id":77816,"name":"Kung
        Fu Panda Collection","poster_path":"/2QT6PuYXY0T2Ry9rX0JKQYTrbwx.jpg","backdrop_path":"/uDosHOFFWtF5YteBRygHALFqLw2.jpg"},"budget":85000000,"genres":[{"id":28,"name":"Action"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":35,"name":"Comedy"},{"id":10751,"name":"Family"}],"homepage":"https://www.dreamworks.com/movies/kung-fu-panda-4","id":1011985,"imdb_id":"tt21692408","original_language":"en","original_title":"Kung
        Fu Panda 4","overview":"Po is gearing up to become the spiritual leader of
        his Valley of Peace, but also needs someone to take his place as Dragon Warrior.
        As such, he will train a new kung fu practitioner for the spot and will encounter
        a villain called the Chameleon who conjures villains from the past.","popularity":2805.537,"poster_path":"/kDp1vUBnMpe8ak4rjgl3cLELqjU.jpg","production_companies":[{"id":521,"logo_path":"/kP7t6RwGz2AvvTkvnI1uteEwHet.png","name":"DreamWorks
        Animation","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"2024-03-02","revenue":347255055,"runtime":94,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"","title":"Kung
        Fu Panda 4","video":false,"vote_average":6.798,"vote_count":529}'
  recorded_at: Wed, 03 Apr 2024 22:07:41 GMT
[...]
