---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1011985/watch/providers?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 50e98f0e696d81b989885f57a252d149
      X-Memc-Age:
      - '23972'
      X-Memc-Expires:
      - '4375'
      Etag:
      - W/"aa611cc7cc044dcd66f326b1ba3863b5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1011985,"results":{"CA":{"link":"https://www.themoviedb.org/movie/1011985-kung-fu-panda-4/watch?locale=CA","buy":[{"logo_path":"/d1mUAhpJpxy0YMjwVOZ4lxAAbeT.jpg","provider_id":140,"provider_name":"Cineplex","display_priority":14}]}}}'
  recorded_at: Fri, 22 Mar 2024 05:14:28 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/1011985/watch/providers?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 50e98f0e696d81b989885f57a252d149
      X-Memc-Age:
      - '23972'
      X-Memc-Expires:
      - '4375'
      Etag:
      - W/"aa611cc7cc044dcd66f326b1ba3863b5"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1011985,"results":{"CA":{"link":"https://www.themoviedb.org/movie/1011985-kung-fu-panda-4/watch?locale=CA","buy":[{"logo_path":"/d1mUAhpJpxy0YMjwVOZ4lxAAbeT.jpg","provider_id":140,"provider_name":"Cineplex","display_priority":14}]}}}'
  recorded_at: Fri, 22 Mar 2024 05:14:29 GMT
recorded_with: VCR 6.2.0
